
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.account_header {
    border-bottom: 1px solid #ddd;
    display: block;
    padding-bottom: 0.7rem;
    margin-bottom: 1.5rem;
}

.menu_container {
    grid-gap: 2rem;
    /* cursor: pointer; */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
    text-decoration: none;
}

.menu_container a {
    text-decoration: none;
    color: black;
}

.menu_container a:hover {
    color: #485fc7;
    cursor: pointer;
}

.menu_card {
    align-items: center;
    border: 1px solid #d5d9d9;
    border-radius: 6px;
    display: flex;
    font-size: 1.25rem;
    padding: 0.5rem;
}


