<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IceKream</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit.png" />
    <!-- bulma css 관련 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="not-found.css" />
</head>

<body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/elice-rabbit.png" width="30" height="30" />
                    <span class="has-text" style="color: black">IceKream</span>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
                <ul id="navSelect">
                    <li class="register_btn">
                        <a href="/register" style="color: black">Register</a>
                    </li>
                    <li>
                        <a href="/cart" aria-current="page" style="color: black">
                            <span class="icon">
                                <i class="fas fa-cart-shopping"></i>
                            </span>
                            <span>카트</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="message-container">
            <div class="not-found-message">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <h1>404 Not Found</h1>
            </div>
            <div class="explanation">
                <h2>요청하신 페이지를 찾을 수 없습니다..</h2>
                <h3>
                    주소가 올바르지 않거나 알 수 없는 오류가 발생했습니다.
                </h3>
            </div>
            <button onclick="location.href='/'">홈으로 돌아가기</button>
        </div>
    </main>
</body>

</html>