.menu-card{
    display: flex;
    width:100%;
    height:200px;
    align-items: center;
    
    color:rgb(100,100,100);
    padding: 1rem;
}
.grey{
    background-color:rgb(250,250,250);
}
.light-grey{
    background-color: rgb(255,255,255);
}
.menu-container{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    margin:3rem;

}
.menu-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    margin-right: 2rem;
}
.menu-image i{
    font-size:3rem;
    margin:1rem 1rem 1rem 2rem;
}
.account-header{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
    color:black;
    margin-left:2.5rem;
}
