@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic%7CMontserrat:400,700);
.has-text{
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;

  } 
nav{
    font-family: 'Montserrat', serif;
}
.container .title {
    margin-bottom: 2rem;
}

.order-complete {
    margin: auto;
    width: fit-content;
}

.order-complete .icon-text {
    justify-content: center;
    padding: 2rem;
    font-size: xx-large;
}