<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IceKream</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="orderCompletion.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <script id="orderCompletion" class="nav_trans" src="/nav-transition/nav_user.js" type="module"></script>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/elice-rabbit.png" width="30" height="30" />
                    <span class="has-text">IceKream</span>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
                <ul id="navSelect">
                    <li>
                        <a href="/cart" aria-current="page">
                            <span class="icon" style="color: black">
                                <i class="fas fa-cart-shopping"></i>
                            </span>
                            <div id="cart-count">0</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <div class="cart-header">
                <div class="subtitle">
                    <p class="is-size-6">
                        &nbsp; 장바구니 &nbsp; &gt; &nbsp; 주문결제 &nbsp;
                        &gt; &nbsp; 주문완료
                    </p>
                </div>
                <div class="title">
                    <p class="is-size-2">주문완료</p>
                </div>
            </div>

            <div class="order-complete-container">
                <div class="box order-complete">
                    <div class="icon-text">
                        <span class="icon has-text-success">
                            <i class="fa-solid fa-cart-arrow-down" aria-hidden="true"></i>
                        </span>
                        <span>주문이 완료되었습니다!</span>
                    </div>
                    <div class="buttons-container">
                        <button class="button is-medium is-fullwidth" id="orderDetailButton"
                            onclick="location.href='../account/order-view.html'">
                            주문내역 보기
                        </button>
                        <button class="button is-primary is-medium is-fullwidth" id="shoppingButton"
                            onclick="window.location.href = '/'">
                            쇼핑 계속하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>