@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic%7CMontserrat:400,700);

div.hide,
.hide {
    display: none;
}

.order-container {
    margin: 2rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.order_body {
    margin: 0 3rem;
}

.order_title h1 {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 3rem;
}

.buyer_title {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.show_buyer_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.show_buyer_phone div{
    width:100%;
}
.show_buyer_phone button {
    position: absolute;
    right: 0;
}

/* #phone-number-form fieldset div label{
    
} */
.div_for_change {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.div_for_change label {
    margin-bottom: 1rem;
}
.buttons_container {
    position: absolute;
    right: 0rem;
    top: 2rem;
}
.div_for_change input,
.search_address_input {
    border: none;
    border-bottom: 1px solid rgb(230, 230, 230);
    width: 50%;
    margin-bottom: 1rem;
}

.input_address {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_address label {
    width: 100%;
}
.input_address button,
.search_address .address_button {
    position: absolute;
    right: 0;
    z-index: 2;
}
.search_address > .buttons_container {
    height: 10rem;
    display: flex;
    align-items: flex-end;
    bottom: 0;
}

.search_address {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#order_list {
    text-align: left;
    padding: 2rem;
    padding-left: 5rem;
}

button,
.address_button {
    margin-left: 1rem;
    color: white;
    background-color: black;
    border: 1px black solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
}

button:hover,
.address_button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}


.h2_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.buyer_title {
    margin-top: 1.5em;
}

.table_element {
    width: 100%;
  
}

.order_th,
#payment_th {
    font-weight: 400;
}

.address_th,
.phone_th,
.order_th,
#payment_th {
    vertical-align: middle;
}

td {
    vertical-align: middle;
}

.table_element th {
    width: 8rem;
}

.orderbox {
    width: 100%;
    height: 8rem;
    position: relative;
}

.orderbox button {
    position: absolute;
    top: 50%;
    right: 0;
}

.order_footer {
    width: 100%;
    height: 5rem;
   
}

nav{
    font-family: 'Montserrat', serif;}
.table_element tr {
    text-align: center;
    height: 3rem;
}

.table_element td {
    border-bottom: none;
    border-left: none;
}

.table_element tr th {
    border-right: none;
    background-color: rgb(230, 230, 230);
}

.table_element tr p {
    position: relative;
    top: 50%;
}

td div {
    padding: 15px 0;
}




#cart-count {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 0px 0px 20px 30px;
    background-color: rgb(254, 223, 223);
    border-radius: 100%;
}

.has-text{
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;

  } 
nav{
    font-family: 'Montserrat', serif;
}