<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>IceKream</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="home.css" />
  <script src="home.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/elice-rabbit.png" width="30" height="30" />
          <span class="has-text">IceKream</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
        <ul id="navSelect">
          <li>
            <a href="/cart" aria-current="page" style="color: black">
              <span class="icon">
                <i class="fas fa-cart-shopping"></i>
              </span>
              <div id="cart-count">0</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="main">
    <!-- 배너 슬라이드 -->
    <div id="slider">
      <ul class="slides">
        <li class="slide"><img
            src="https://kream-phinf.pstatic.net/MjAyMjA1MjdfMjA0/MDAxNjUzNjI5OTM2NjA5.OGYBweQkOtjiQGIudN0REEqL3dneMBg780cvLVNy7L4g.YFEE0ePuRWaWPw9UYJ_9VYPBOEZxPhM_cydZY4OQbR4g.JPEG/a_c0f195008b10492289e21c3ab1cab271.jpg?type=m_2560"
            alt=""></li>
        <li class="slide"><img
            src="https://kream-phinf.pstatic.net/MjAyMjA1MzFfMjE1/MDAxNjUzOTgyMjE0NDAx.gqD8T2QZsBd23N-8voYiBtgLi8VoSOzTP0FPAyeEKpgg.y9cLVv4D5Ol67nY_uujhZNhcLtf_EE70cOasInt8hjkg.JPEG/a_a9b8b11790a346ac9fa3f4e51c031f7c.jpg?type=m_2560"
            alt=""></li>
        <li class="slide"><img
            src="https://kream-phinf.pstatic.net/MjAyMjA2MDNfNzYg/MDAxNjU0MjI0MTk5MzYw.aJSb8YvsDy68dvaA9w-IkRtMypSf9I745ktFVkaIKMog.g1pL1OKV24X-acEiNDbYJLgJANNc_1c37CKfxpVKMmwg.JPEG/a_8aefc589fccc47ef83e7b7f8cb17d0ab.jpg?type=m_2560"
            alt=""></li>
      </ul>
    </div>
    <div id="section-container">
      <div id="scroll-top"></div>
      <!-- 카테고리 컨테이너 -->
      <div id="category-container"></div>
      <div id="filter-container">
        <select name="" id="">
          <option value="">조회수</option>
          <option value="">인기순</option>
          <option value="">가격낮은순</option>
          <option value="">가격높은순</option>
          <option value="">조회수</option>
        </select>
      </div>
      <div class="modal-container"></div>
      <!-- 상품 컨테이너 -->
      <div id="product-container"></div>
    </div>
  </div>
</body>

</html>