<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>쇼핑-데모</title>
        <!-- 아이콘 -->
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css 관련 -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/7630448495.js"
            crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="kakao-login.css" />
        <script id="kakaoLogin" class="nav_trans" src="/nav-transition/nav_user.js" type="module"></script>
        <script src="kakao-login.js" type="module" defer></script>
    </head>

    <body>
        <!-- 헤더 -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container mt-3">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="/elice-rabbit.png" width="30" height="30" />
                        <span class="has-text-link">쇼핑-n팀</span>
                    </a>

                    <a
                        role="button"
                        class="navbar-burger"
                        aria-label="menu"
                        aria-expanded="false"
                        data-target="navbarBasicExample"
                    >
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div
                    class="navbar-end breadcrumb my-auto"
                    aria-label="breadcrumbs"
                >
                <ul id="navSelect">
                    <li>
                        <a href="/cart" aria-current="page">
                            <span class="icon">
                                <i class="fas fa-cart-shopping"></i>
                            </span>
                            <div id="cart-count">0</div>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

        <!-- 로그인 폼(Form) -->
        <main>
            <div class="message-container">
                <h1>정상적으로 로그인되었습니다!</h1>

                <button class="home-button" onclick="window.location.href='/'">
                    홈으로 돌아가기
                </button>
            </div>
        </main>
    </body>
</html>
