<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-add.css" />
    <script src="/nav-transition/nav_admin.js" type="module"></script>
    <script src="product-add.js" type="module"></script>
</head>
<body>
	<!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/elice-rabbit.png" width="30" height="30" />
                    <span class="has-text-link">쇼핑-데모</span>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
                    <ul id="navSelect">
                        <li class="register_btn"><a href="/register">회원가입</a></li>
                        <li>
                            <a href="/cart" aria-current="page">
                                <span class="icon">
                                    <i class="fas fa-cart-shopping"></i>
                                </span>
                                <span>카트</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
	<div class="category-form-container">
        <form class="category-form-box" id="categoryForm">
            <h2 class="category-title">New Item</h2>
            <div class="">
                <label class="category-label" for="nameInput">카테고리</label>
                <div class="input-box">
                    <select class="category-input" id="categorySelectBox">
                        <option value="" selected disabled>카테고리를 선택해 주세요.</option>
                    </select>
                </div>
            </div>
            <div class="">
                <label class="category-label" for="nameInput">상품 이름</label>
                <div class="input-box">
                    <input
                        class="category-input"
                        id="nameInput"
                        type="text"
                        placeholder="상품 이름을 입력해주세요."
                        autocomplete="on"
                        minlength="1"
                        maxlength="30"
                    />
                </div>
            </div>
            <div class="">
                <label class="category-label" for="manufacturerInput">제조사</label>
                <div class="input-box">
                    <input
                        class="category-input"
                        id="manufacturerInput"
                        type="text"
                        placeholder="제조사를 입력해주세요"
                        autocomplete="on"
                        minlength="3"
                        maxlength="30"
                    />
                </div>
            </div>
            <div class="">
              <label class="category-label" for="launchDateInput">출시일</label>
              <div class="input-box">
                  <input
                      class="category-input"
                      id="launchDateInput"
                      type="date"
                      autocomplete="on"
                      min="2020-01-01"
                      max="2022-06-04"
                  />
              </div>
          </div>
            <div class="">
                <label class="category-label" for="imgInput">사진 url</label>
                <div class="input-box">
                    <input
                        class="category-input"
                        id="imgInput"
                        type="text"
                        placeholder="유효한 url을 입력해주세요"
                        autocomplete="on"
                    />
                </div>
            </div>
            <div class="">
                <label class="category-label" for="sizeInput">사이즈</label>
                <div class="input-box">
                    <input
                        class="category-input"
                        id="sizeInput"
                        type="text"
                        placeholder="쉼표로 구분하여 입력해주세요"
                        autocomplete="on"
                        minlength="1"
                        maxlength="30"
                    />
                </div>
            </div>
            <div class="">
                <label class="category-label" for="inventoryInput">사이즈 당 재고수</label>
                <div class="input-box">
                    <input
                        class="category-input"
                        id="inventoryInput"
                        type="number"
                        placeholder="최소 10개, 최대 100까지 입력 가능합니다."
                        autocomplete="on"
                        min="10"
                        max="100"
                    />
                </div>
            </div>
            <div class="">
                <label class="category-label" for="priceInput">가격</label>
                <div class="input-box">
                    <input
                        class="category-input"
                        id="priceInput"
                        type="number"
                        placeholder="숫자만 입력해주세요."
                        autocomplete="on"
                        min="1000"
                        max="10000000"
                    />
                </div>
            </div>

            <button class="category-button" id="submitButton">등록</button>
        </form>
    </div>

</body>
</html>