<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>쇼핑-n팀</title>
        <!-- 아이콘 -->
        <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
        <!-- bulma css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
        <!-- 폰트 어썸: 아이콘 -->
        <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" type="text/html" href="product.css" />
        <script src="product-add.js" type="module" defer></script>
      </head>

  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/elice-rabbit.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-데모</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- 제품 추가 폼(Form) -->
    <section class="section">
      <div class="container">
        <div class="block account-header">
          <h1 class="subtitle is-4">상품 등록</h1>
        </div>
        <div class="register-product-form-container">
        <form class="box register-product-form-box" id="registerProductForm">
            <p class="title is-5 has-text-primary">상품 정보</p>
            <div class="field">
              <label class="label" for="categorySelectBox">카테고리</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="categorySelectBox">
                    <option value="" selected disabled>카테고리를 선택해 주세요.</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
                <label class="label" for="titleInput">상품 이름</label>
                <div class="control">
                  <input
                    class="input"
                    id="nameInput"
                    type="text"
                    placeholder="여성 러닝화"
                    autocomplete="on"
                  />
                </div>
              </div>
            <div class="field">
              <label class="label" for="manufacturerInput">제조사</label>
              <div class="control">
                <input
                  class="input"
                  id="manufacturerInput"
                  type="text"
                  placeholder="Nike"
                  autocomplete="on"
                />
              </div>
            </div>
            <div class="field">
              <label class="label" for="shortDescriptionInput">출시일</label>
                  <div class="control">
                    <input
                      class="input"
                      id="launchDateInput"
                      type="date"
                      placeholder="Nike"
                      autocomplete="on"
                      min="2020-01-01"
                      max="2022-06-04"
                    />
                  </div>
            </div>
            <div class="field is-fullwidth">
              <label class="label" for="imageInput">상품 사진</label>
              <div class="file has-name is-fullwidth">
                <label class="file-label">
                  <input
                    class="file-input"
                    id="imageInput"
                    type="text"
                    name="image-url"
                    accept=".png, .jpeg, .jpg"
                  />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> 사진 업로드 </span>
                  </span>
                  <span class="file-name" id="fileNameSpan">
                    사진파일 url
                  </span>
                </label>
              </div>
            </div>
            <div class="field">
              <label class="label" for="inventoryInput">사이즈</label>
              <div class="control">
                <input
                  class="input"
                  id="sizeInput"
                  type="text"
                  placeholder="쉼표로 구분하여 입력하세요."
                  autocomplete="on"
                  min=""
                />
              </div>
            </div>
            <div class="field">
                <label class="label" for="inventoryInput">사이즈 당 재고 수</label>
                <div class="control">
                  <input
                    class="input"
                    id="inventoryInput"
                    type="number"
                    placeholder="10"
                    autocomplete="on"
                    min=""
                  />
                </div>
              </div>
            <div class="field">
              <label class="label" for="priceInput">가격</label>
              <div class="field">
                <div class="control has-icons-right">
                  <input
                    class="input"
                    id="priceInput"
                    type="number"
                    placeholder="10000"
                    autocomplete="on"
                    min="500"
                    max="100000000"
                  />
                  <span class="icon is-small is-right"> 원 </span>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <button class="button is-primary is-fullwidth" id="submitButton">
                제품 판매하기
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
